{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <h1>Log-in</h1>
    {% if form.errors %}
        <p>
            Пароль или логин не подходят
            Побробуйте снова.
        </p>
    {% else %}
        <p>Пожалуйста, используйте следующую форму, чтобы войти. Если у вас нет аккаунта <a href="{% url "register" %}">зарегистрируйтесь здесь</a></p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Log-in"></p>
        </form>
    </div>
{% endblock %}